.introduction-box {
  display: inline-block;
  letter-spacing: 3.5px;
}

.introduction-drawer-body {
  text-align: center;
}

.introduction-drawer-body img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
